<footer class="footer">
    <div class="content">
        <span>{{ appName() }} <strong>v{{ appVersion() }}</strong></span>

               <a class="foot-link" href="/discord"><i class="fab"></i>|| DISCORD ||</a>
               <a class="foot-link" href="https://osu-server-list.com/server/4ayo"><i class="fab"></i>|| OSU-SERVER-LIST ||</a>
               <a class="foot-link" href="https://topg.org/osu-private-servers/server-663321"><i class="fab"></i>|| TOPG ||</a>
               <a class="foot-link" href="https://ko-fi.com/4ayshiee"><i class="fab"></i>|| SUPPORT US ||</a>
 <!--          <a class="foot-link" href="/youtube"><i class="fab fa-youtube"></i> YouTube</a> -->
    </div>       
</footer>
